[project]
requires-python = "==3.13.*"
name = "cancer"
description = "Cures cancer"
version = "1.0.0"
authors = [{ name = "BlindfoldedSurgery", email = "team@blindfolded.surgery" }]
classifiers = [
    "Private :: Do Not Upload",
    "License :: OSI Approved :: MIT License",
]

dependencies = [
    "click >=8.1.3, <9.0.0",
    "google-cloud-pubsub >=2.0.0, <3.0.0",
    "httpx ==0.28.*",
    "Pillow >=11.0.0, <12.0.0",
    "sentry-sdk >=2.0.0, <3.0.0",
    "yt-dlp [default] ==2024.12.23",
]

[dependency-groups]
dev = [
    "mypy ==1.14.*",
    "pytest >=8.0.0, <9.0.0",
    "ruff ==0.8.6",
    "types-requests >=2.28.11, <3.0.0",
    "types-Pillow >=10.0.0, <11.0.0",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[[tool.mypy.overrides]]
module = "google.cloud.*"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "yt_dlp.*"
ignore_missing_imports = true

[tool.ruff.lint]
select = [
    "E4",
    "E7",
    "E9",
    "F",
    "FURB",
    "G",
    "I001",
    "LOG",
    "PTH",
    "Q",
    "UP",
]
ignore = [
    # redundant-open-modes
    "UP015",
]
